/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind components;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Cardo';
	src: url('fonts/Cardo.ttf');
}

:root {
	--accent: #2337ff;
	--dark-accent: yellow;
	--dark-accent-hover: orange;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(varo--gray), 33%),
0 16px 32px rgba(var(--gray), 33%);
}

body {
	padding: 15px;
	text-align: left;
	background-color: rgb(0, 0, 0);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: rgb(255, 255, 255);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: rgb(255, 255, 255);
	font-family: Helvetica, sans-serif;
}
div {
	font-family: 'Cardo', Courier, monospace;
}
li {
	font-family: 'Cardo', Courier, monospace;
}
a {
	color: #ffffff;
}
@layer components {

.flipb {
	writing-mode: vertical-lr;
	min-inline-size:fit-content;
}
.flipa {
	writing-mode: vertical-lr;
	min-inline-size:fit-content;
}
}
p {
	font-family: 'Cardo';
	font-weight: lighter;
	line-height: 1.9em;
	color: #fff;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgba(234, 179, 8, 0.35);
}
pre {
	border-radius: 10px;
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
