/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@tailwind components;
@tailwind components;
@tailwind utilities;


html.dark {
	background-color: #000000;
	color: #fff;
}
html p {
	color: black;
}
html.dark p {
	color: rgb(196, 196, 196);
}

html {
	background-color: rgba(241, 241, 241, 0.58);
}

.dark .nav-links a {
	color: #fff;
}
:root {
	--accent: #2337ff;
	--dark-accent: yellow;
	--dark-accent-hover: orange;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(varo--gray), 33%),
0 16px 32px rgba(var(--gray), 33%);
}

body {
	padding: 15px;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
b {
	color: rgb(0, 0, 0);
	font-family: Helvetica, sans-serif;
}



html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6,
html.dark strong,
html.dark b {
	color: rgb(255, 255, 255);
	font-family: Helvetica, sans-serif;
}

html.dark h1 {
	color: #EAB31CFF;
	font-family: Helvetica, sans-serif;
}
h1 {
	color: #754c1c;
}

a {
	color: #ffffff;
}
@layer components {

.flipb {
	writing-mode: vertical-lr;
	min-inline-size:fit-content;
}
.flipa {
	writing-mode: vertical-lr;
	min-inline-size:fit-content;
}
}
p {
	line-height: 1.9em;
}
nav a {
	margin-right: 10px;
}

content {
	line-height: 1.6;
}
table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}
pre {
	border-radius: 10px;
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
