/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
$light-background: rgb(255, 255, 255);
@tailwind components;
@tailwind components;
@tailwind utilities;

$light-font: #000000;
$dark-font-primary: #ffd500;
$dark-font: #EDEDED;
$dark-border: rgba(255, 255, 255, 0.51);
$dark-background: linear-gradient(109.6deg, rgb(13, 13, 16) 11.2%, rgb(14, 14, 14) 51.2%, rgb(0, 0, 0) 98.6%);

html.dark {
  background: $dark-background;
  color: #fff8d9;
}

html p {
  color: black;
}

html blockquote {
  padding: 10px;
}

html.dark p {
  color: $dark-font;
}
html hr {
  border: none!important;
}
html {
  width: 100%;
  background-color: $light-background;
}

.dark .nav-links a {
  color: #fff;
}

body {
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
b {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
}


html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6,
html.dark strong,
html.dark b {
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
}

html.dark h1 {
  color: $dark-font;
  font-family: Inter, sans-serif;
}

h1 {
  color: $light-font;
}

h2 {
  color: $light-font;
}

a {
  color: $light-font;
}

.nav {
  position: absolute !important;
  left: 0 !important;
}

.font-toc {
  text-decoration:underline ;
  margin-left: 20px;
  font-family: Inter, sans-serif !important;
  list-style-type: decimal;
  .font-toc-h2 {
    list-style-type: circle;
  }
}

html.dark .toc-wrapper {
  border-bottom: 1px solid $dark-border;
  border-top: 1px solid $dark-border;
  padding-bottom: 20px;
  padding-top: 20px;
  //position: fixed;
  //top: 20.1%;
  //right: 20%;
}
time {
  font-family: Inter, sans-serif;
}
.toc-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  //position: fixed;
  //top: 20.1%;
  //right: 20%;
}
html.dark a {
  color: $dark-font;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.prose {
  p {
    code {
      color: #BF3441;
    }
  }
  ul,ol {
    padding-left: 20px;
  }
  li {
      list-style-type: decimal;;
  }
}

@layer components {

  .flipb {
    writing-mode: vertical-lr;
    min-inline-size: fit-content;
  }

  .flipa {
    writing-mode: vertical-lr;
    min-inline-size: fit-content;
  }
}

p {
  line-height: 1.9em;
}

nav a {
  margin-right: 10px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

html code {

}
pre {
  border: 1px solid rgba(173, 173, 173, 0.42);
  background-color: #ffffff !important;
  padding: 1rem;
}

html.dark pre {
  background-color: #000000 !important;
  border: 1px solid rgba(255, 255, 255, 0.51);

  color: white;
  span {
    color:  white!important;
  }
}


pre > code {
  all: unset;
}

blockquote {
  border-left: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
  font-style: italic;
}


* {
  font-family: Inter, sans-serif;
}

::selection {
  background: $light-font;
  color: white;
}

.dark ::selection {
  color: black;
  background: $dark-font-primary;
}

h1 {
  border-color: $light-font;
}

html.dark h1 {
  color: $dark-font-primary;
}

html.dark h2 {
  color: $dark-font-primary;
}
.dark body {
  background-color: $dark-background;
}

.dark html {
  background-color: $dark-background;
}