---
export interface Props {
    title: string,
    content: string,
}

const { title, content } = Astro.props as Props;
---

<div class="pb-6">
    <h1 class="uppercase py-3 font-bold underline " style="font-size: 11px;">{title}</h1>
    <p class="sm:pl-12 pl-0" style="font-size: 14px;">
       {content}
    </p>
</div>
