---
export interface Props {
    title: string,
    content: string,
}

const { title, content } = Astro.props as Props;
---

<div class="p-6 border-black border-r border-t">
    <h1 class="uppercase py-3 font-bold  text-[2rem] underline" >{title}</h1>
    <p class="sm:pl-12 pl-0 text-md">
       {content}
    </p>
</div>
