---
export interface Props {
    title: string,
    content: string,
}

const { title, content } = Astro.props as Props;
---
<head>
    <style>
        html.dark span {
            background: #fff0b5;
            color: black;
        }
        html.dark div {
            border-color: rgba(142, 142, 142, 0.45);
        }
    </style>
</head>
<div class="p-4 flex  items-center flex-col border-black border-t justify-center">
    <span class="uppercase box-decor bg-black text-white py-0 px-1 self-start font-bold w-auto text-[1rem]" >{title}</span>
    <p class="sm:pl-12 pl-0 text-sm">
       {content}
    </p>
</div>
