---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from "./ThemeIcon.astro";
---
<head>
	<style>
		html.dark span {
			background: #fff0b5;
			color: black;
		}
		html.dark nav {
			border-color: rgba(142, 142, 142, 0.45);
		}
	</style>
</head>
<header>
	<nav class="internal-links  sm:mt-10 sm:mb-0 mb-2 mt-2 font-jetbrains flex md:text-[2rem] border-l border-t border-r border-b border-black text-sm p-4 font-extrabold items-center">
		<h1 class="text-left self-center w-[11%]  uppercase sm:text-sm text-[0.5rem] ">Tho<span
			class="bg-black text-white">mas  Mag</span>es
		</h1>
		<div class="w-full flex justify-center">
		<HeaderLink class="mr-0" href="/">~</HeaderLink>
		<HeaderLink class="mr-0" >/</HeaderLink>
		<HeaderLink class="mr-0" href="/blog">Posts</HeaderLink>
		<HeaderLink class="mr-0" >/</HeaderLink>
		<HeaderLink class="mr-0" href="/photos">Fotos</HeaderLink>
		<HeaderLink >$</HeaderLink>
		<!--<HeaderLink href="https://twitter.com/thedomasch" target="_blank">Twitter</HeaderLink>-->
		<!--<HeaderLink >/</HeaderLink>-->
		<!--<HeaderLink href="https://github.com/domaschh" target="_blank">GitHub</HeaderLink>-->
		<!--<HeaderLink >|</HeaderLink>-->
		</div>
		<ThemeIcon></ThemeIcon>

	</nav>
</header>
